body {
    font-family: "Avenir Next" !important;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f0f3f7;
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.button_1 {
    height: 38px;
    background: #44DCA0;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    font-family: "Avenir Next" !important;
}

/* Header */
header {
    background: #6b7480;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #44DCA0 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
} 

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header a:hover {
    color: #f0f3f7;
    font-weight: bold;
}

/* Showcase */
#showcase {
    min-height: 400px;
    background: #ffffff;
    text-align: center;
    color: #6b7480;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 45px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 15px;
}

/* Newsletter */
#newsletter {
    padding: 15px;
    color: #ffffff;
    background: #6b7480;
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
    font-family: "Avenir Next" !important;
}

/* Boxes */
#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

footer {
    bottom: 0;
    left: 0;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: -1;
    margin-top: 20px;
    color: #ffffff;
    background-color: #44DCA0;
    text-align: center;
}